[submodule "lib/universal_faces"]
	path = components/universal_faces
	url = https://github.com/an-dr/universal_faces.git
[submodule "components/microlog"]
	path = components/microlog
	url = git@github.com:an-dr/microlog.git
