[submodule "lib/universal_faces"]
	path = src/common_components/FaceDesktop/components/universal_faces
	url = https://github.com/an-dr/universal_faces.git
[submodule "components/microlog"]
	path = src/common_components/microlog
	url = https://github.com/an-dr/microlog.git
