[submodule "lib/universal_faces"]
	path = src/common_components/FaceDesktop/components/universal_faces
	url = https://github.com/an-dr/universal_faces.git
[submodule "components/microlog"]
	path = src/common_components/microlog
	url = https://github.com/an-dr/microlog.git
[submodule "src/VisioneREmotion/components/CppLinuxSerial"]
	path = src/VisioneREmotion/components/CppLinuxSerial
	url = https://github.com/gbmhunter/CppLinuxSerial.git
